* {
    font-family: "proxima-nova", sans-serif;
}

p {
    color: #141414
}

span {
    color: #141414
}

nav ul {
    display: flex;
    width: 327px;
    height: 48px;
    gap: 51px;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 2rem;
    right: 9rem;

    border-radius: 360px;
    background: #F2F2F8;
}

nav a {
    text-decoration: none;
    color: #141414;
    font-weight: 500;
}

.login-button {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 2rem;
    right: 5rem;

    border-radius: 360px;
    background: #F2F2F8;
}

.page-content {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 140px;
}

.hero {
    display: flex;
    align-items: center;
}

#hero-column-two {
    display: flex;
    margin-inline: auto;
}

.landing-topinterests {
    margin-top: 56px;
}

.landing-topinterests ul{
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    gap: 40px;
    width: 369px;

    list-style: none;

    border-radius: 24px;
    background: #F2F2F8;
}

#landing-floating-seemywork {
    display: flex;
    width: 200px;
    justify-content: center;
    margin-inline: auto;
    margin-top: 24px;

    opacity: .3;
}

.singular-project {
    display: flex;
    gap: 64px;
    align-items: center;
}

.singular-project img {
    width: 50vw;
    border-radius: 24px;
}
.work-container {
    border-radius: 24px;
    padding: 160px 64px;

    background: #F2F2F8;
}

.work-textbox {
    color: red;
    display: flex;
    padding-left: 64px;
}