body {
  margin: 0px;
}

* {
  font-family: "proxima-nova", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

  color: #141414;
}

span {
  color: #141414;
}

.label {
  font-weight: 700;
  opacity: 60%;
}

.microcopy {
  font-size: 10px;
}

.button-text-primary {
  font-size: 16px;
  font-weight: 500;

  color: #ffffff;
}

.button-text-secondary {
  font-size: 16px;
  font-weight: 500;

  color: #141414;
}

.button-text-muted {
  font-size: 16px;
  font-weight: 500;

  color: #141414;
  opacity: 0.6;
}

.page-content {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 140px;
}

.hero {
  display: flex;
  align-items: center;
}

#hero-column-two {
  display: flex;
  margin-inline: auto;
}

#landing-floating-seemywork {
  display: flex;
  width: 200px;
  justify-content: center;
  margin-inline: auto;
  margin-top: 24px;
  margin-bottom: 40px;

  opacity: 0.3;
}

.work-container {
  border-radius: 0 24px 24px 24px;
  padding: 160px 64px;

  background: #f2f2f8;
}

footer {
  margin-top: 160px;
  padding: 80px;
  background: #f2f2f8;
}

footer p {
  font-size: 14px;
  opacity: 0.5;
}

footer a {
  font-size: 14px;
  text-decoration: none;
}

.message-button {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 8px;

  position: fixed;
  right: 5rem;
  bottom: 2rem;

  border-radius: 360px;
  background: #f2f2f8;
  color: #7c6dff;
  border: none;
}

#projects-toggle {
  display: inline-flex;
  padding: 17px 45.5px 12px 44.5px;
  justify-content: center;
  align-items: center;

  gap: 32px;
  margin-top: 48px;

  border-radius: 24px 24px 0 0;
  background: #f2f2f8;
}

#projects-toggle span {
  opacity: 0.6;
}

/* About Me Section */

.about-page {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.about-contentbox {
  display: flex;
  flex-direction: column;
  width: 720px;
  background: #f2f2f8;
  border-radius: 24px;
  padding: 40px;
  gap: 32px;
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textbox p {
  opacity: 0.8;
}

.button-text-primary {
  font-size: 16px;
  font-weight: 500;

  color: #ffffff;
}

#github-repo img {
  width: 100%;
  border-radius: 8px;
}

#truehawkes-logo img {
  width: 350px;
  margin: 138px;
}
